
.nav{
    background-color: black;
}
.nav-link{
    font-size: 20px;
    padding: 15px;
    margin-left: 45px;
}
.zheader{
    font-size:52px;
    font-weight: 500;
    letter-spacing: 2px;
    color : #000;
    font-family: poppins;
}
.uppr a{
    font-size: 15px;
    text-decoration: none;
    color:#3d4246;
}
.strlcn{
    font-size: 20px;
    font-family:arial;
    font-weight:900;
    margin-top: 10px;
    letter-spacing: 3px;
    color: #3d4246;
}
.ttlline{
    font-family: arial;
    font-weight: 900;
    color: #3d4246;
    margin-top:50px;
}
#slct1{
    height: 40.8px;
    width: 333px;
    margin-right: 15px;
    text-align: center;
}
#slct2{
    height: 40.8px;
    width: 333px;
    text-align: center;
}
.abdstr{
    font-family: arial;
    font-weight: 900;
    color: #3d4246;
}
.addcont{
    height: 200px;
    width:500px;
    margin-bottom: 10px;
    padding: 20px 20px
}
.addcont h3{
    font-size: 16px;
    font-family: arial;
    font-weight: 900;
    margin: 0px 0px 15px;
}
.addcont h5{
    font-size: 14px;
    font-family: arial;
    font-weight: 900;
    margin: 0px 0px 20px;
}
.addcont p{
    font-size: 12px;
    font-family: arial;
    font
}
.btm{
    height:27.6px;
    width: 118.29px;
    font-size:12px;
    font-family:arial;
    border: none;
    background-color: black;
    color:white;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.4s linear;
}
.btm::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgb(227, 224, 224);
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.4s linear;
    z-index: -1;
}
.btm:hover::before{
    transform: translateX(0);
}
.btm:hover{
    color: black;
}
.footer{
    height: 46px;
    width: 100%;
    background-color: #000;
    line-height: 46px;
}

.fotr a{
    text-decoration: none;
}
.main{
    justify-content: space-between; 
}
.ftr8 a{
    text-decoration: none;
}

    