*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    background-color: black;
}
.nav-link{
    font-size: 20px;
    padding: 15px;
    margin-left: 45px;
}
.zheader{
    font-size:52px;
    font-weight: 500;
    letter-spacing: 2px;
    color : #000;
    font-family: poppins;
}
.cmpnh1{
    font-size: 52px;
}
.downctn{
    height:378px;
    width:378px ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.footer{
    height: 46px;
    width: 100%;
    background-color: #000;
    line-height: 46px;
    margin-top: 25px;
}

.fotr a{
    text-decoration: none;
}
.main{
    justify-content: space-between; 
}
.ftr8 a{
    text-decoration: none;
}